body {
  margin: 0px;
  padding: 0px;
  background-color: ;
}

/* Estilos generales */
.body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

/* .header {
  background-color: #333;
  padding: 10px;
  text-align: center;
}

.logoImg {
  width: 150px;
  height: auto;
  border: 2px solid rgb(0, 0, 0);
}

.main {
  padding: 20px;
}

.infoPedido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.h1,
.h2 {
  margin-bottom: 20px;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.div__info {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.seleccion__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.seleccion__btn__btn {
  margin: 1rem;
  padding: 1rem;
  width: 100%;
  height: auto;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 15px;
  text-align: center;
  font-size: xx-large;
  background-color: brown;
  color: #fff;
  box-shadow: 4px 4px 4px grey;
}
.menu__h2 {
  margin: 2rem;
  padding: 1.5rem;
  height: auto;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 15px;
  text-align: center;
  font-size: xx-large;
  background-color: brown;
  color: #fff;
  box-shadow: 4px 4px 4px grey;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.5rem;
  padding: 1rem;
  text-align: center;
  font-size: large;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 15px;
  box-shadow: 4px 4px 4px grey;
}
.card__img {
  border-radius: 5%;
  margin-bottom: 15px;
}
.card__nombre {
  font-size: xx-large;
  font-weight: 600;
  margin-bottom: 10px;
}
.card__detalle {
  font-size: larger;
  margin-bottom: 10px;
}
.card__precio {
  font-size: larger;
  font-weight: 600;
  margin: 10px;
}
.no__visible {
  display: none;
}
.agregar__pedido {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.cantidad__input {
  width: 100%;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: larger;
}
.cantidad__btn {
  margin: 1rem;
  padding: 1rem;
  width: 100%;
  height: auto;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 15px;
  text-align: center;
  font-size: medium;
  background-color: brown;
  color: #fff;
  box-shadow: 4px 4px 4px grey;
}

.footer {
  background-color: #333;
  padding: 10px 0;
  text-align: center;
  color: #f4f4f4;
} */
/* Media queries para móviles */
@media (max-width: 768px) {
  .header {
    padding: 15px 0;
  }

  .logoImg {
    width: 200px;
    border-radius: 5%;
  }

  .infoPedido {
    padding: 15px;
  }

  .h1 {
    font-size: 1.5em;
  }

  .h2 {
    font-size: 1.2em;
  }
}

/* Media queries para tabletas */
@media (min-width: 769px) and (max-width: 1024px) {
  .main {
    padding: 30px;
  }

  .logoImg {
    width: 250px;
    border-radius: 5%;
  }

  .infoPedido {
    padding: 25px;
  }

  .h1 {
    font-size: 2em;
  }

  .h2 {
    font-size: 1.5em;
  }

  input[type="text"],
  input[type="number"] {
    padding: 12px;
  }

  button[type="submit"] {
    padding: 12px;
  }
}
