.volver2 {
  display: flex;
  align-items: center;
  margin: 1rem;
  padding: 1rem 1.5rem;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 15px;
  text-align: medium;
  font-size: large;
  background-color: brown;
  color: #fff;
  box-shadow: 4px 4px 4px grey;
}
.volver__p {
  font-weight: 600;
  margin: 5px;
}
